* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #ff6600;
  --hover-color: #cf5401;
  --white: #fff;
  --black: #000;
  --heading-color: #0b1b35;
  --content-color: #8a898e;
  --group-color: #1e0e62;
  --group-para-color: #15143966;
  --clint-name-color: #bdbbc5;
}
/*? Same Classes */
/** btn class */
.same-btn {
  padding: 8px 25px;
  background-color: var(--primary-color);
  color: var(--white);
}
.same-btn:hover {
  background-color: var(--hover-color);
  color: var(--white);
}
.same-btn:active {
  background-color: var(--hover-color) !important;
  color: var(--white) !important;
}
/*? Same Classes End */
/** Header part Start */
header .logo-link img {
  width: 80%;
}
header .nav-items ul li a,
.login-signup button {
  font-size: 17px;
  line-height: 28.5px;
}
header .nav-items ul li:not(:first-child) a,
.login-signup button {
  font-weight: 500;
}
.login-signup button:first-child {
  padding: 8px 25px;
}
.login-signup button:first-child:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
/** Header part End */
/** Hero Section Start */
main {
  display: grid;
  place-items: center;
  height: min-content;
  overflow: hidden;
}
main .hero-section {
  height: 100%;
  width: 100%;
}
main .hero-section > div:last-child {
  display: grid;
  justify-content: center;
  align-content: center;
}
/* Hero Content */
.hero-content {
  margin-top: 114px;
}
.hero-content h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  color: var(--heading-color);
}
.hero-content p {
  font-weight: 500;
  font-size: 22px;
  line-height: 28.5px;
  margin-top: 16px;
  margin-bottom: 60px;
}
.hero-btn button:last-child img {
  width: 40px;
  margin-left: 10px;
}
.hero-btn button:last-child span {
  font-size: 18px;
  font-weight: 400;
  margin-left: 8px;
}
/* Hero Image */
.hero-img {
  margin-top: 45px;
  position: relative;
}
.hero-img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../image/Bulp-frame.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 40%;
  position: absolute;
  top: 25%;
  left: 10px;
  z-index: -1;
}
.hero-img::after {
  content: "";
  background-image: url(../image/Arrow-Frame.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: top left;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 74%;
  top: 12%;
  transform: rotate(-6deg);
  transform-origin: top;
  z-index: -1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
}
.img-box {
  margin-right: 20px;
}
.img-box::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../image/massage-box.png);
  background-repeat: no-repeat;
  background-size: 85%;
  position: absolute;
  top: 7%;
  left: -24%;
  z-index: -1;
}
.hero-img img {
  width: 130%;
}
/** Hero Section End */
