* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #ff6600;
  --hover-color: #cf5401;
  --white: #fff;
  --black: #000;
  --heading-color: #0b1b35;
  --content-color: #8a898e;
  --group-color: #1e0e62;
  --group-para-color: #15143966;
  --clint-name-color: #bdbbc5;
}
/*? Same Classes */
/** btn class */
.same-btn {
  padding: 8px 25px;
  background-color: var(--primary-color);
  color: var(--white);
}
.same-btn:hover {
  background-color: var(--hover-color);
  color: var(--white);
}
.same-btn:active {
  background-color: var(--hover-color) !important;
  color: var(--white) !important;
}
/** btn class */

/** Sub-heading class */
.sub-heading p {
  font-family: Abel;
  font-weight: 400;
  font-size: 14px;
  line-height: 28.5px;
  letter-spacing: 45%;
  text-align: center;
  color: var(--content-color);
}
.sub-heading h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 28.5px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--heading-color);
}
.sub-heading {
  margin-bottom: 80px;
}
/** Sub-heading class */
/** Service and Team section  */
.item-box {
  height: 450px;
  width: 352px;
  display: grid;
  align-content: start;
  justify-items: center;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 20px;
  margin-bottom: 40px;
}
.item-box img {
  width: 60px;
  margin: 30px 0 41px;
}
.item-box .video-icon {
  margin-top: 45px;
}
.item-box h3 {
  margin: 0 0 32px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 28.5px;
}
.item-box p {
  margin: 0 41px 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.5px;
}
.item-box button {
  margin: 0 0 26px 0;
}
/** Service and Team section end  */
/*? Same Classes End */
/** Header part Start */
header .logo-link img {
  width: 80%;
}
header .nav-items ul li a,
.login-signup button {
  font-size: 17px;
  line-height: 28.5px;
}
header .nav-items ul li:not(:first-child) a,
.login-signup button {
  font-weight: 500;
}
.login-signup button:first-child {
  padding: 8px 25px;
}
.login-signup button:first-child:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
/** Header part End */
/** Hero Section Start */
main {
  display: grid;
  place-items: center;
  height: min-content;
  overflow: hidden;
}
main .hero-section {
  height: 100%;
  width: 100%;
}
main .hero-section > div:last-child {
  display: grid;
  justify-content: center;
  align-content: center;
}
/* Hero Content */
.hero-content {
  margin-top: 114px;
}
.hero-content h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  color: var(--heading-color);
}
.hero-content p {
  font-weight: 500;
  font-size: 22px;
  line-height: 28.5px;
  margin-top: 16px;
  margin-bottom: 60px;
}
.hero-btn button:last-child img {
  width: 40px;
  margin-left: 10px;
}
.hero-btn button:last-child span {
  font-size: 18px;
  font-weight: 400;
  margin-left: 8px;
}
/* Hero Image */
.hero-img {
  margin-top: 45px;
  position: relative;
}
.hero-img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../image/Bulp-frame.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 40%;
  position: absolute;
  top: 25%;
  left: 10px;
  z-index: -1;
}
.hero-img::after {
  content: "";
  position: absolute;
  inset: 12% auto auto 74%;
  width: 100%;
  height: 100%;
  background: url(../image/Arrow-Frame.png) no-repeat top left / 25%;
  transform: rotate(-6deg);
  transform-origin: top;
  z-index: -1;
}
.img-box {
  margin-right: 20px;
}
.img-box::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../image/massage-box.png);
  background-repeat: no-repeat;
  background-size: 85%;
  position: absolute;
  top: 7%;
  left: -24%;
  z-index: -1;
}
.hero-img img {
  width: 130%;
}
/** Hero Section End */
/** Service Section Start */
.service {
  overflow: hidden;
}
.service-item {
  display: grid;
}
/** Service Section End */
/*todo: Media Query */
@media (max-width: 1200px) {
  /*Same classes */
  .sub-heading h2 {
    font-size: 48px;
    line-height: 28.5px;
  }
  /* Hero Section */
  .hero-content {
    margin-top: 70px;
  }
  .hero-content h1 {
    font-size: 60px;
  }
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .hero-btn button:last-child span {
    font-size: 16px;
  }
  /* Hero Image*/
  .hero-img {
    margin-top: 35px;
    position: relative;
  }
  .hero-img::before {
    content: "";
    background-size: 40%;
    top: 28%;
    left: 10px;
  }
  .hero-img::after {
    content: "";
    background-size: 25%;
    left: 73%;
    top: 9%;
    transform: rotate(-6deg);
    transform-origin: top;
    z-index: -1;
  }
  .img-box {
    margin-right: 20px;
  }
  .img-box::before {
    content: "";
    background-size: 95%;
    position: absolute;
    top: 6%;
    left: -23%;
  }
  .hero-img img {
    width: 135%;
  }
}
@media (max-width: 992px) {
  /*Same classes */
  .sub-heading h2 {
    font-size: 44px;
    line-height: 28.5px;
  }
  /*? Header Part */
  .login-signup button:first-child {
    margin-left: -25px;
  }
  /*? Header End */
  /* ? Hero Section */
  main {
    height: min-content;
    overflow: hidden;
  }
  /* Hero Content */
  .hero-content {
    margin-top: 20px;
  }
  .hero-content h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .hero-content p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .hero-btn button:last-child span {
    font-size: 16px;
  }
  /* Hero Image */
  .hero-img {
    overflow: hidden;
  }
  .hero-img img {
    width: 70%;
  }
  .hero-img::before {
    content: "";
    background-size: 30%;
    position: absolute;
    top: 22%;
    left: 130px;
    z-index: -1;
  }
  .hero-img::after {
    content: "";
    background-size: 25%;
    left: 62%;
    top: 6%;
  }
  .img-box {
    margin-right: -350px;
  }
  .img-box::before {
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    top: -1%;
    left: 5%;
  }
}
@media (max-width: 767px) {
  /* Header part */
  header .logo-link img {
    width: 75%;
  }
  header .nav-items ul li a,
  .login-signup button {
    font-size: 16px;
  }
  .login-signup button:first-child {
    margin-left: -25px;
  }
  /* // Header End */
  /* ? Hero Section */
  main {
    height: min-content;
    overflow: hidden;
  }
  /* Hero Content */
  .hero-content {
    margin-top: 20px;
  }
  .hero-content h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .hero-content p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .hero-btn button:last-child span {
    font-size: 16px;
  }
  /* Hero Image */
  .hero-img {
    overflow: hidden;
  }
  .hero-img img {
    width: 70%;
  }
  .hero-img::before {
    content: "";
    background-size: 30%;
    position: absolute;
    top: 27%;
    left: 73px;
    z-index: -1;
  }
  .hero-img::after {
    content: "";
    background-size: 25%;
    left: 70%;
    top: 9%;
  }
  .img-box {
    margin-right: -350px;
  }
  .img-box::before {
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 75%;
    position: absolute;
    top: 4%;
    left: -10%;
  }
}
@media (max-width: 576px) {
  /*Same classes */
  .sub-heading h2 {
    font-size: 40px;
    line-height: 28.5px;
  }
  /*? Header Section */
  header .logo-link img {
    width: 70%;
  }
  header .nav-items ul li a,
  .login-signup button {
    font-size: 16px;
  }
  .login-signup button:first-child {
    margin-left: -25px;
  }
  /*? Header End */
  /* ? Hero Section */
  main {
    height: min-content;
    overflow: hidden;
  }
  /* Hero Content */
  .hero-content {
    margin-top: 10px;
  }
  .hero-content h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .hero-content p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .hero-btn button:last-child span {
    font-size: 14px;
  }
  /* Hero Image */
  .hero-img {
    overflow: hidden;
  }
  .hero-img img {
    width: 50%;
  }
  .hero-img::before {
    content: "";
    background-size: 30%;
    position: absolute;
    top: 24%;
    left: 90px;
    z-index: -1;
  }
  .hero-img::after {
    content: "";
    background-size: 25%;
    left: 60%;
    top: 6%;
  }
  .img-box {
    margin-right: -450px;
  }
  .img-box::before {
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    top: 10%;
    left: 6%;
  }
}
@media (max-width: 400px) {
  /* ? Hero Section */
  /* Hero Content */
  .hero-content h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .hero-content p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 25px;
  }
  /* Hero Image */
  .hero-img::before {
    content: "";
    position: absolute;
    top: 24%;
    left: 40px;
  }
  .hero-img::after {
    content: "";
    background-size: 25%;
    left: 70%;
    top: 8%;
  }
  .img-box {
    margin-right: -450px;
  }
  .img-box::before {
    content: "";
    background-size: 60%;
    position: absolute;
    top: 14%;
    left: -4%;
  }
}
